@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #26A69A;
  --first-color-lighter: #ECF3F2;
  --title-color: #11443F;
  --text-color: #5B7B78;
  --body-color: #F5FFFE;
}
